*{
	margin: 0;
	padding: 0;
	}
	body{
		background: url(../img/fondo.png);
		background-size: 100%;
	}
	
	/* Nombre tienda generica*/ 
	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;
	}

	.container .boton_menu, .nombre_tienda{
		font-family: 'lato', sans-serif;
		color: #c7c7c7;
		float: left;
		line-height:100px;
		height:200px;
		font-size: 200%;
	}

	/*Menu*/
	#boton_menu{
		display: none;
	}
	
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0; left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	
	/* Boton de menu*/
	#boton_menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	
	/* Configuracion de menu*/
	.cont-menu{
		top: 50px;
		width: 15%;
		max-width: 180px;
		background: #127aa3;
		height: 72vh;
		position: relative;
		transition: all 400ms ease;
		transform: translateX(-100%);
	}
	
	#boton_menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}

	/*configuracion de las letras del menu*/
	.cont-menu nav a{
		font-family: 'Lato', sans-serif;
		display: block;
		text-decoration: none;
		padding: 30px;
		color: #000000;
		border-left: 20px solid transparent;
		transition: all 400ms ease;
	}
	
	/* Seleccionar Menu */
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #c7c7c7;
	}

	/* La salir de menu "X" */
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 5px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}

	.cedula{
		position: relative; 
		bottom: 50px;
		right: -200px;
		width: 90%;
		font-family: 'lato', sans-serif;
		color: #c7c7c7;
		float: left;
		height:50px;
		font-size: 180%;
	}

	.nombre{
		position: relative; 
		bottom: 50px;
		right: -200px;
		width: 90%;
		font-family: 'lato', sans-serif;
		color: #c7c7c7;
		float: left;
		height:50px;
		font-size: 180%;
	}

	.correo{
		position: relative; 
		bottom: 50px;
		right: -200px;
		width: 90%;
		font-family: 'lato', sans-serif;
		color: #c7c7c7;
		float: left;
		height:50px;
		font-size: 180%;
	}

	.usuario{
		position: relative; 
		bottom: 50px;
		right: -200px;
		width: 90%;
		font-family: 'lato', sans-serif;
		color: #c7c7c7;
		float: left;
		height:50px;
		font-size: 180%;
	}

	.clave{
		position: relative; 
		bottom: 50px;
		right: -200px;
		width: 90%;
		font-family: 'lato', sans-serif;
		color: #c7c7c7;
		float: left;
		height:50px;
		font-size: 180%;
	}
	
	.botonCRUM {
		font-family: 'lato', sans-serif;
		font-size: 150%;
		width: 200px;
		display: flex; 
		flex-direction: column;
		margin-bottom: 20px;
	   }
	
	.buttonRegresar {
		position: relative; 
		bottom: 5px;
		right: -1000px;
		font-family: 'lato', sans-serif;
		font-size: 100%;
		color: #c7c7c7;
		text-decoration:none;
		font-weight: 600;
		font-size: 20px;
		padding-top:15px;
		padding-bottom:15px;
		padding-left:40px;
		padding-right:40px;
		background-color: transparent;
		border-width: 3px;
		border-style: solid;
		border-color: #000000;
	}