*{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

input[type=number] {
    width: 18%;
    padding: 8px;
    margin-left: 60px;
    margin-right: 110px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #555;
    outline: none;
  }
input[type=email]{
    width: 18%;
    padding: 8px;
    margin: 10px 10px 10px 10px;
    margin-left: 50px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #555;
    outline: none;
}   
input{
    width: 18%;
    padding: 8px;
    margin-left: 50px;
    margin-right: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #555;
    outline: none;
  }
form{
    color: #555;
    margin-left: 200px;
    margin-top: 100px;
}
input[type=button] {
  background-color: #979c9c;
  border-color: black;
  color: rgb(255, 255, 255);
  width: 130px;
  padding: 10px;
  text-decoration: none;
  margin: 70px 30px 0px 120px;
  cursor: pointer;
}
.button {
  color: rgb(0, 0, 0);
  padding: 15px 25px;
  text-align: center;
  border-top: black;
  border-left: black;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
}