@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("buttons.css");
@import url("navigation.css");
@import url("variables.css");
body {
    background-color: var(--bg-gray);
}

.bg-img {
    font-family: arial;
    background-image: url('../img/fondo.png');
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -10;
}

*,
input {
    font-family: "Lato", sans-serif;
    margin: 0;
}

.center-content-column,
.input-container,
.form-container {
    display: flex;
    flex-direction: column;
}

.form-container,
.center-content-column {
    justify-content: center;
    align-items: center;
}

.center-content-column {
    min-height: 100vh;
}

.register-form,
.form-container {
    background-color: var(--custom-gray);
    border-radius: 6px;
    box-shadow: var(--sombra);
    padding: 20px 30px;
    border-top: 4px solid var(--primary);
    color: white;
    
}

.register-form {    
    background-color: white;
    border-radius: 0 0 6px 6px;
    box-shadow: var(--sombra);
    padding: 20px 30px;
    border-top: 4px solid var(--dark-primary);
    color: var(--custom-black);
    margin-top: 24px;
}


.form-title,
.input-container {
    margin-bottom: 24px;
}

.inline-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 24px;
}

.input-container {
    width: 100%;
}

.inline-form .input-container {
    width: 330px;
    margin-right: 2.4%;
}

.input-container__label {
    font-weight: 300;
    margin-bottom: 5px;
}

.register-form .input-container__input {
    
    border: 1px solid var(--primary);
    background-color: white;
    color: var(--custom-black);
    font-size: 16px;
}

.input-container__input {
    padding: 10px 16px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    background-color: var(--custom-black);
    color: white;
    font-size: 16px;
}

.header-back-button__link {
    display: flex;
    align-items: center;
}

.header-back-button__link,
.bottom-actions__link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: var(--simple-transition);
}

.header-back-button__link:hover,
.bottom-actions__link:hover {
    text-decoration: underline;
    color: var(--light-primary);
}

.buttons-container,
.bottom-actions {
    border-top: 1px solid;
    text-align: center;
    margin-top: 24px;
    width: 100%;
    padding: 16px 0 5px 0;
}

.buttons-container {
    margin-top: 0;
}

.header__container,
.main-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 24px;
}