<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>

<body>
    <div class="bg-img"></div>
    <div class="center-content-column">
        <div class="form-container">
            <form th:action="@{/login}" method="post">
                <h1 class="form-title">Bienvenidos a Tienda Genérica</h1>
                <div class="input-container">
                    <label for="email" class="input-container__label">Correo electrónico</label>
                    <input type="text" class="input-container__input" id="email" th:name="username" />
                </div>
                <div class="input-container">
                    <label for="pass" class="input-container__label">Contraseña</label>
                    <input type="password" class="input-container__input" id="pass" th:name="password" />
                </div>
                <button type="submit" class="primary-btn">Iniciar sesión</button>
            </form>
            <div class="bottom-actions">
                <a href="#" class="bottom-actions__link">¿Olvidaste la contraseña?</a>
            </div>

        </div>
    </div>
</body>

</html>