<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
   >

<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="header__container">
            <div class="header__content">
                <label class="header__content--menu-btn" for="open_menu"><span
                        class="material-icons">menu</span></label>
                <h1 class="header__content--title">Tienda genérica</h1>
            </div>
        </div>
    </header>
    <input type="checkbox" id="open_menu" hidden>
    <div class="menu-container">
        <div class="menu-content">
            <label for="open_menu" class="menu-content__close"><span class="material-icons">close</span></label>
            <nav>
                <a class="menu-content__item" href="user">Usuarios</a>
                <a class="menu-content__item" href="clientes">Clientes</a>
                <a class="menu-content__item" href="proveedores">Proveedores</a>
                <a class="menu-content__item" href="productos">Productos</a>
                <a class="menu-content__item" href="ventas">Ventas</a>
                <a class="menu-content__item" href="reportes">Reportes</a>
                <a class="menu-content__item" href="login">Cerrar sesión</a>
                <!-- <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Cerrar Sesión" />
                </form> -->
            </nav>
        </div>
    </div>

</body>

</html>